<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel= "shortcut icon" href= "https://cdn.dribbble.com/users/1411568/screenshots/10952352/dribbble_4x.png">

</head>
<body>
    <h1>Вход</h1>
    <form action="/join" method="post">
        <label for="username">Имя:</label>
        <input type="text" name="username" id="username" required>
        <button type="submit">Войти</button>
    </form>
</body>
</html>
